﻿
<div>
    <h1>SignalR !</h1>
</div>

<div id="chat">
    <div id="messages-container"></div>
    <div id="messages">
        <div class="radio-group">
            <div class="radio-input">
                <input type="radio" name="status" value="enabled" checked />Enabled
            </div>
            <div class="radio-input">
                <input type="radio" name="status" value="disabled" />Disabled
            </div>
        </div>
        <input type="text" id="message-input"/>
        <button type="button" id="send-button">Send</button>
    </div>
</div>


<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/node_modules/@@aspnet/signalr-client/dist/browser/signalr-client-1.0.0-alpha1-final.min.js"></script>
<link href="~/wwwroot/css/site.css" rel="stylesheet" />
<script src="~/wwwroot/js/site.js"></script>