﻿body {
    background-color: rgb(126, 0, 202);
    color: white;
    width: 100%;
    height: 100%;
}

#chat {
    width: 300px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(50, 50, 50);
}

#messages-container {
    height: 70%;
    overflow-y: auto;
}

    #messages-container > .message {
        padding-left: 5px;
        margin-left: 3px;
        display: flex;
    }

.message > p:first-child {
    margin-right: 3px;
    color: rgba(255, 255, 255, 0.5);
}

#messages > * {
    width: -webkit-fill-available;
}

.radio-group {
    display: flex;
}